<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="login-page">
  <div class="login-container">    
    <ion-icon name="person-circle-outline" class="login-icon"></ion-icon>    
    <h1 class="login-title">Iniciar Sesión</h1>    

    <ion-item>
      <ion-input [(ngModel)]="mdl_user" type="text" label="Ingresar usuario" labelPlacement="floating" placeholder=""></ion-input>
    </ion-item>    





<ion-item>
  <!-- Campo de contraseña -->
  <ion-input [(ngModel)]="mdl_pass"
             [type]="showPassword ? 'text' : 'password'"
             label="Ingresar contraseña"
             labelPlacement="floating"
             placeholder=""></ion-input>

  <!-- Ícono para alternar visibilidad de la contraseña -->
  <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"
            slot="end"
            (click)="togglePasswordVisibility()"></ion-icon>
</ion-item>


    <ion-text *ngIf="visibleWarning" color="danger" class="ion-padding-top">
      <p>{{ warningMessage }}</p>
    </ion-text>    







    <ion-button (click)="login()" expand="block" class="login-button">
      <ion-spinner *ngIf="visibleLoading" name="lines-sharp"></ion-spinner>
      Entrar
    </ion-button>    
    <ion-text class="forgot-password">
      <a href="#">¿Olvidaste tu contraseña?</a>
    </ion-text>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="presentModal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    
  </div>
</ion-content>
