.login-page {
  --background: linear-gradient(to right, #2c3e50, #3498db); /* Gradiente de fondo elegante */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.9); /* Caja semi-transparente */
  padding: 40px;
  border-radius: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 20px;
}

.login-icon {
  font-size: 80px;
  color: #34495e; /* Azul oscuro */
  margin-bottom: 20px;
}

.welcome-text {
  font-size: 18px;
  color: #34495e;
  margin-bottom: 30px;
}



ion-text p {
  background: rgba(255, 0, 0, 0.2); /* Fondo del mensaje de error */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

/* Mensaje de éxito */
ion-text[color="success"] p {
  background: rgba(0, 255, 0, 0.2); /* Fondo del mensaje de éxito */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  color: white;
}

/* Estilos globales para mensajes de error */
.error-message {
  color: #ff4d4d; /* Color rojo para mensajes de error */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 10px;
  text-align: center;
}

