.ion-padding{
  --background: linear-gradient(to right, #2c3e50, #3498db); /* Fondo degradado igual que el login */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px;
}
  
  ion-button {
    --background: #3880ff;
    --color: white;
  }
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  ion-img.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;  /* Hace que la imagen sea circular */
    object-fit: cover;   /* Asegura que la imagen cubra completamente el contenedor circular */
    border: 2px solid #ccc;  /* Borde alrededor de la imagen */
    margin-bottom: 10px;
    background-color: #fff; /* Fondo blanco si no hay imagen */
    overflow: hidden; /* Asegura que no haya desbordamiento de la imagen */
  }
  
  