.principal-page {
  --background: linear-gradient(to right, #2c3e50, #3498db); /* Fondo degradado */
}

/* Estilos del header */
ion-header {
  ion-toolbar {
    background-color: #6a82fb;
    color: white;
  }

  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* Aplicar estilo de los inputs y botones desde los estilos globales */
.login-item {
  --background: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-item ion-icon {
  color: #3498db;
}

.login-item ion-input {
  padding: 10px;
  font-size: 16px;
  color: rgb(2, 2, 2); /* Texto negro */
}

.login-item ion-input::placeholder {
  color: black;
}

/* Estilos de los botones */
.login-button {
  background-color: #2980b9; /* Azul oscuro */
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 20px;
}

/* Estilos del botón outline */
ion-button[fill="outline"] {
  --background: transparent;
  --border-color: white;
  --color: white;
}

/* Mensaje de error */
ion-text p {
  background: rgba(255, 0, 0, 0.2); /* Fondo del mensaje de error */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

/* Mensaje de éxito */
ion-text[color="success"] p {
  background: rgba(0, 255, 0, 0.2); /* Fondo del mensaje de éxito */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  color: white;
}
/* Estilos globales para mensajes de error */
.error-message {
  color: #ff4d4d; /* Color rojo para mensajes de error */
  font-size: 14px; /* Tamaño de fuente */
  margin-top: 10px;
  text-align: center;
}

