.principal-page {
  --background: linear-gradient(to right, #2c3e50, #3498db); /* Fondo degradado */
}

ion-header {
  ion-toolbar {
    background-color: #6a82fb;
    color: white;
  }

  ion-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

ion-item {
  --background: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente */
  --border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 15px;
  color: white;
}

ion-input {
  --placeholder-color: rgba(255, 255, 255, 0.6); /* Color del placeholder */
  color: white; /* Color de texto */
}

ion-button {
  --background: #6a82fb; /* Fondo de los botones */
  --border-radius: 20px;
  font-weight: bold;
  margin-top: 10px;
}

ion-button[fill="outline"] {
  --background: transparent;
  --border-color: white;
  --color: white;
}

ion-text p {
  background: rgba(255, 0, 0, 0.2); /* Fondo del mensaje de error */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
}

ion-text[color="success"] p {
  background: rgba(0, 255, 0, 0.2); /* Fondo del mensaje de éxito */
  border-radius: 10px;
  padding: 10px;
  margin-top: 15px;
  color: white;
}
