<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="nuevaPassword" type="password" label="Nueva contraseña" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-input [(ngModel)]="confirmPassword" type="password" label="Confirmar contraseña" labelPlacement="floating" placeholder=""></ion-input>
  </ion-item>
  <!-- Botón para cambiar la contraseña -->
  <ion-button expand="block" (click)="cambiarPassword()">Cambiar Contraseña</ion-button>
  <!-- Botón para cancelar y volver al login -->
  <ion-button expand="block"  (click)="volverAlLogin()">Cancelar</ion-button>
    <!-- Mostrar mensaje de error en caso de que no coincidan las contraseñas -->
    <ion-text color="danger" *ngIf="errorMessage">
      <p>{{ errorMessage }}</p>
    </ion-text>
</ion-content>
