<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label>Menú 1</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Menú 2</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Menú 3</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Menú 4</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ nombreUsuario }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateTo('perfil')">
        <ion-icon name="person"></ion-icon>
      </ion-button>
      <ion-button (click)="navigateTo('configuracion')">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrarSesion()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding principal-page" id="main-content">
  <!-- Input de nueva contraseña -->
  <ion-item class="login-item">
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="nuevaPassword" type="password" placeholder="Nueva Contraseña"></ion-input>
  </ion-item>

  <!-- Input de confirmación de contraseña -->
  <ion-item class="login-item">
    <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
    <ion-input [(ngModel)]="confirmPassword" type="password" placeholder="Confirmar Contraseña"></ion-input>
  </ion-item>

  <!-- Botón para cambiar contraseña -->
  <ion-button expand="block" class="login-button" (click)="cambiarPassword()">
    Cambiar Contraseña
  </ion-button>

  <!-- Botón para cancelar -->
  <ion-button expand="block" fill="outline" class="login-button" (click)="volverAlLogin()">
    Cancelar
  </ion-button>

  <!-- Mensaje de error -->
<ion-text class="error-message" *ngIf="errorMessage">
  <p>{{ errorMessage }}</p>
</ion-text>

<!-- Mensaje de éxito -->
<ion-text class="success-message" *ngIf="successMessage">
  <p>{{ successMessage }}</p>
</ion-text>

</ion-content>
