/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* Estilos para la página de login */

/* Metaetiqueta para evitar el zoom al hacer clic en los inputs en dispositivos móviles */
//segunda opcion 
.login-page {
  --background: linear-gradient(to right, #2c3e50, #3498db); /* Gradiente de fondo elegante */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  padding: 20px; /* Añade márgenes en las 4 esquinas */
}

// estos son universales 
.login-item {
  --background: #fff; /* Fondo blanco para los campos de entrada */
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-item ion-icon {
  color: #3498db; /* Color azul para los íconos */
}

.login-item ion-input {
  padding: 10px;
  font-size: 16px;
  color: rgb(2, 2, 2); /* Color blanco para el texto dentro del input */

}

.login-item ion-input::placeholder {
  color: black;
}
.login-button {
  background-color: #2980b9; /* Azul oscuro */
  color: white;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 20px;
}

/* Estilos globales para mensajes de error */
// .error-message {
//   color: #ff4d4d; /* Color rojo para mensajes de error */
//   font-size: 14px; /* Tamaño de fuente */
//   margin-top: 10px;
//   text-align: center;
// }

//FIN 




